In [1]:
import pandas as pd
from childes_mi.utils.paths import DATA_DIR, FIGURE_DIR, ensure_dir

In [3]:
param_df_childes = pd.read_pickle(DATA_DIR / 'param_dfs' / 'childes.pickle')
param_df_phonbank = pd.read_pickle(DATA_DIR / 'param_dfs' / 'phonbank.pickle')
param_df_drosophila = pd.read_pickle(DATA_DIR / 'param_dfs' / 'drosophila.pickle')
param_df_zebrafish = pd.read_pickle(DATA_DIR / 'param_dfs' / 'zebrafish.pickle')
param_df_epickitchens = pd.read_pickle(DATA_DIR / 'param_dfs' / 'epic_kitchens.pickle')

In [4]:
param_df = pd.concat([
    param_df_childes,
    param_df_phonbank,
    param_df_drosophila,
    param_df_zebrafish,
    param_df_epickitchens,
])

In [27]:
param_df['age_range'] = [i if i != 'None-None' else '-' for i in [str(row.age_low) + '-' + str(row.age_high) if row.age_high != 20 else '>3' for idx, row in param_df.iterrows()]]

In [48]:
param_df = param_df.fillna(value='-')

In [65]:
new_param_df = pd.DataFrame(
    columns=["Dataset", "Age Range", "a" , 'b', 'c', 'd', 'f'])
for idx, row in param_df.iterrows():

    val_list = [
        "-" if type(v) == str else str(round(v, 3)) + "±" + str(round(err, 3))
        for v, err in [
            (row.a_value, row.a_stderr),
            (row.b_value, row.b_stderr),
            (row.c_value, row.c_stderr),
            (row.d_value, row.d_stderr),
            (row.f_value, row.f_stderr),
        ]
    ]
    #print(val_list)

    new_param_df.loc[len(new_param_df)] = [row.dataset, row.age_range, val_list[0], val_list[1], val_list[2], val_list[3], val_list[4]]

['0.387±0.101', '0.645±0.113', '0.145±0.038', '-1.382±0.345', '0.168±0.003']
['0.194±0.022', '0.382±0.034', '0.283±0.016', '-1.461±0.083', '0.057±0.001']
['0.185±0.022', '0.418±0.033', '0.346±0.014', '-1.464±0.04', '0.04±0.0']
['0.239±0.099', '0.753±0.105', '0.391±0.039', '-1.367±0.053', '0.027±0.0']
['0.639±0.065', '1.082±0.047', '0.223±0.022', '-1.238±0.041', '0.008±0.0']
['1.019±0.371', '0.857±0.137', '0.476±0.132', '-1.433±0.087', '0.001±0.0']
['1.112±0.255', '0.908±0.1', '0.38±0.082', '-1.381±0.07', '0.001±0.0']
['1.225±0.136', '0.877±0.054', '0.305±0.043', '-1.219±0.046', '0.002±0.0']
['0.891±0.098', '0.794±0.032', '0.358±0.042', '-1.234±0.044', '0.005±0.0']
['0.404±0.047', '0.463±0.021', '0.446±0.029', '-1.137±0.027', '0.016±0.0']
['0.326±0.065', '0.391±0.045', '0.301±0.041', '-1.013±0.087', '0.035±0.002']
['0.155±0.002', '0.014±0.0', '1.1±0.004', '-0.506±0.002', '0.04±0.001']
['0.943±0.054', '1.33±0.051', '0.06±0.005', '-0.661±0.052', '0.0±0.001']
['-', '-', '0.227±0.029', '-1.133±0.18', '0.023±0.003']

In [72]:
new_param_df = new_param_df.sort_values(by=['Dataset', 'Age Range'])
new_param_df

,Dataset,Age Range,a,b,c,d,f
0,childes,1-1.5,0.387±0.101,0.645±0.113,0.145±0.038,-1.382±0.345,0.168±0.003
1,childes,1.5-2.0,0.194±0.022,0.382±0.034,0.283±0.016,-1.461±0.083,0.057±0.001
2,childes,2-2.5,0.185±0.022,0.418±0.033,0.346±0.014,-1.464±0.04,0.04±0.0
3,childes,2.5-3.0,0.239±0.099,0.753±0.105,0.391±0.039,-1.367±0.053,0.027±0.0
4,childes,>3,0.639±0.065,1.082±0.047,0.223±0.022,-1.238±0.041,0.008±0.0
11,drosophila,-,0.155±0.002,0.014±0.0,1.1±0.004,-0.506±0.002,0.04±0.001
13,epic_kitchens,-,-,-,0.227±0.029,-1.133±0.18,0.023±0.003
10,phonbank,0.5-1,0.326±0.065,0.391±0.045,0.301±0.041,-1.013±0.087,0.035±0.002
9,phonbank,1-1.5,0.404±0.047,0.463±0.021,0.446±0.029,-1.137±0.027,0.016±0.0
8,phonbank,1.5-2,0.891±0.098,0.794±0.032,0.358±0.042,-1.234±0.044,0.005±0.0
7,phonbank,2-2.5,1.225±0.136,0.877±0.054,0.305±0.043,-1.219±0.046,0.002±0.0
6,phonbank,2.5-3,1.112±0.255,0.908±0.1,0.38±0.082,-1.381±0.07,0.001±0.0
5,phonbank,>3,1.019±0.371,0.857±0.137,0.476±0.132,-1.433±0.087,0.001±0.0
12,zebrafish,-,0.943±0.054,1.33±0.051,0.06±0.005,-0.661±0.052,0.0±0.001

In [76]:
print(new_param_df.to_latex(index =False).replace('±', '$\pm$'))

\begin{tabular}{lllllll}
\toprule
       Dataset & Age Range &            a &            b &            c &             d &            f \\
\midrule
       childes &     1-1.5 &  0.387$\pm$0.101 &  0.645$\pm$0.113 &  0.145$\pm$0.038 &  -1.382$\pm$0.345 &  0.168$\pm$0.003 \\
       childes &   1.5-2.0 &  0.194$\pm$0.022 &  0.382$\pm$0.034 &  0.283$\pm$0.016 &  -1.461$\pm$0.083 &  0.057$\pm$0.001 \\
       childes &     2-2.5 &  0.185$\pm$0.022 &  0.418$\pm$0.033 &  0.346$\pm$0.014 &   -1.464$\pm$0.04 &     0.04$\pm$0.0 \\
       childes &   2.5-3.0 &  0.239$\pm$0.099 &  0.753$\pm$0.105 &  0.391$\pm$0.039 &  -1.367$\pm$0.053 &    0.027$\pm$0.0 \\
       childes &        >3 &  0.639$\pm$0.065 &  1.082$\pm$0.047 &  0.223$\pm$0.022 &  -1.238$\pm$0.041 &    0.008$\pm$0.0 \\
    drosophila &         - &  0.155$\pm$0.002 &    0.014$\pm$0.0 &    1.1$\pm$0.004 &  -0.506$\pm$0.002 &   0.04$\pm$0.001 \\
 epic\_kitchens &         - &            - &            - &  0.227$\pm$0.029 &   -1.133$\pm$0.18 &  0.023$\pm$0.003 \\
      phonbank &     0.5-1 &  0.326$\pm$0.065 &  0.391$\pm$0.045 &  0.301$\pm$0.041 &  -1.013$\pm$0.087 &  0.035$\pm$0.002 \\
      phonbank &     1-1.5 &  0.404$\pm$0.047 &  0.463$\pm$0.021 &  0.446$\pm$0.029 &  -1.137$\pm$0.027 &    0.016$\pm$0.0 \\
      phonbank &     1.5-2 &  0.891$\pm$0.098 &  0.794$\pm$0.032 &  0.358$\pm$0.042 &  -1.234$\pm$0.044 &    0.005$\pm$0.0 \\
      phonbank &     2-2.5 &  1.225$\pm$0.136 &  0.877$\pm$0.054 &  0.305$\pm$0.043 &  -1.219$\pm$0.046 &    0.002$\pm$0.0 \\
      phonbank &     2.5-3 &  1.112$\pm$0.255 &    0.908$\pm$0.1 &   0.38$\pm$0.082 &   -1.381$\pm$0.07 &    0.001$\pm$0.0 \\
      phonbank &        >3 &  1.019$\pm$0.371 &  0.857$\pm$0.137 &  0.476$\pm$0.132 &  -1.433$\pm$0.087 &    0.001$\pm$0.0 \\
     zebrafish &         - &  0.943$\pm$0.054 &   1.33$\pm$0.051 &   0.06$\pm$0.005 &  -0.661$\pm$0.052 &    0.0$\pm$0.001 \\
\bottomrule
\end{tabular}

In [62]:
for v, err in [(row.a_value, row.a_stderr)]:
    if type(v) == str:
        '-'  
    else:
        str(round(v,3)) + '±' + str(round(err,3))

In [57]:
new_param_df

          Dataset Age Range            a
0         childes     1-1.5  0.387±0.101
1         childes   1.5-2.0  0.194±0.022
2         childes     2-2.5  0.185±0.022
3         childes   2.5-3.0  0.239±0.099
4         childes        >3  0.639±0.065
5        phonbank        >3  1.019±0.371
6        phonbank     2.5-3  1.112±0.255
7        phonbank     2-2.5  1.225±0.136
8        phonbank     1.5-2  0.891±0.098
9        phonbank     1-1.5  0.404±0.047
10       phonbank     0.5-1  0.326±0.065
11     drosophila         -  0.155±0.002
12      zebrafish         -  0.943±0.054
13  epic_kitchens         -            -

In [38]:
new_param_df.to_latex()

'\\begin{tabular}{llll}\n\\toprule\n{} &        Dataset & Age Range &            a \\\\\n\\midrule\n0  &        childes &     1-1.5 &  0.387±0.101 \\\\\n1  &        childes &   1.5-2.0 &  0.194±0.022 \\\\\n2  &        childes &     2-2.5 &  0.185±0.022 \\\\\n3  &        childes &   2.5-3.0 &  0.239±0.099 \\\\\n4  &        childes &        >3 &  0.639±0.065 \\\\\n5  &       phonbank &        >3 &  1.019±0.371 \\\\\n6  &       phonbank &     2.5-3 &  1.112±0.255 \\\\\n7  &       phonbank &     2-2.5 &  1.225±0.136 \\\\\n8  &       phonbank &     1.5-2 &  0.891±0.098 \\\\\n9  &       phonbank &     1-1.5 &  0.404±0.047 \\\\\n10 &       phonbank &     0.5-1 &  0.326±0.065 \\\\\n11 &     drosophila &         - &  0.155±0.002 \\\\\n12 &      zebrafish &         - &  0.943±0.054 \\\\\n13 &  epic\\_kitchens &         - &      nan±nan \\\\\n\\bottomrule\n\\end{tabular}\n'